# Ignorar entorno virtual (venv y/o env)
.venv/
venv/
env/


# __pycache__, logs, outputs
__pycache__/
*.pyc
*.log
# --- CAMBIO CLAVE: Ignoramos la carpeta de backups centralizada ---
backups/

# .env o claves locales
*.env
.env*
.fernet.key